	
		h2 {
			color: gray;
			}
		h1 {
			text-align: center;
			}
	body {
		padding-left: 3cm;
	
		background-color: #e6e6ff;
		padding: 3cm 3cm 3cm;
		background: url('img/white-canvas-background_1053-239.jpg');
		background-attachment: fixed;
		margin: 30px;
		}
	
	#title {
		color: gray;
		text-align: center;
		font-size: 25px;
		}
		#mypic {
			position:absolute;top:130px;right:140px;
			border-style: ridge;
		}
	.bold-text {
		font-weight: bold;
	}
	.light-text {
		font-weight: lighter;
		font-size: 0.65em;
		font-style: italic;
	}
	div {
		font-family:verdana;
		text-align: justify;
		text-justify: inter-word;
		}
	.headers {
		background-color: #ffffff;
		text-align: center;
		border-style: outset;
		}